# junk files
.DS_Store
*.log

# node/yarn related
node_modules
.yarn/*
.pnp.*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDE related
.idea
.vscode

# build artifacts / tmp files
dist
coverage

.env
.env.local

# CDK Being Extra
cdk.out

# tsbuildinfo
.tsbuildinfo

packages/app/.terraform.lock.hcl
packages/app/terraform.tfstate
packages/app/terraform.tfstate.backup
.terraform
